<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5"/>
    <title>Temperature Control</title>
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-family: sans-serif !important;
            background-color: white;
        }

        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
            text-align: center;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
        }

        .btn {
            border: 1px solid blue;
            background-color: blue;
            color: white;
            text-decoration: none;
            padding-left: 24px;
            padding-top: 16px;
            font-size: 18px;
            padding-bottom: 16px;
            padding-right: 24px;
            font-family: sans-serif !important;
            display: inline-block;
        }

        canvas {
            margin-top: 24px;
            border: 1px solid lightgray;
        }
    </style>
    <script>
        const temperatures = window.temperatures;

        function mstr(x) {
            return Number.parseFloat(x).toFixed(2);
        }

        function drawChannel(id, temps) {
            var c = document.getElementById(id);
            var ctx = c.getContext("2d");
            c.width = window.innerWidth;
            c.height = 120;
            ctx.canvas.width = window.innerWidth;
            ctx.canvas.height = 120;
            var width = c.width;
            var height = c.height;
            ctx.fillStyle = "#FFFFFF";
            ctx.font = "12px sans-serif";
            ctx.fillRect(0, 0, width, height);
            ctx.fillStyle = "#000000";
            var hStep = (width - 100) / temps.length;

            var maxTemp = 0;
            var minTemp = 1000;
            var avgTemp = 0;

            for (var i = 0; i < temps.length; ++i) {
                minTemp = Math.min(minTemp, temps[i]);
                maxTemp = Math.max(maxTemp, temps[i]);
                avgTemp += temps[i];
            }

            avgTemp /= temps.length;

            var vStepDegree = (height - 32) / (maxTemp - minTemp); // temp to pixel;
            var vStepSubstract = minTemp * vStepDegree; // make minTemp be 0;
            var first_x = 0;
            var first_y = height - ((temps[0] * vStepDegree) - vStepSubstract);
            console.log(vStepSubstract);
            console.log(vStepDegree);
            ctx.strokeStyle = "#0000FF";
            ctx.moveTo(first_x, first_y);

            for (var i = 1; i < temps.length; ++i) {
                var x = i * hStep;
                var y = height - ((temps[i] * vStepDegree) - vStepSubstract);
                ctx.lineTo(x, y);
                ctx.stroke();
            }
            var avgTempY = height - ((avgTemp * vStepDegree) - vStepSubstract);
            ctx.strokeStyle = "#AAAAAA";
            ctx.moveTo(0, avgTempY);
            ctx.lineTo(width - 100 - hStep, avgTempY);
            ctx.stroke();
            ctx.fillText(mstr(temps[0]) + "C", 0, 12);
            for (var i = 1; i < temps.length; ++i) {
                var x = i * hStep;
                var y = 12;
                if (i % 2 != 0) {
                    y = 24;
                }
                ctx.beginPath();
                ctx.strokeStyle = "rgba(240,240,240,1.0)";
                ctx.moveTo(x, y - 12);
                ctx.lineTo(x, height);
                ctx.stroke();
                ctx.fillText(mstr(temps[i]) + "C", x, y);
            }
            ctx.font = "16px sans-serif";
            ctx.fillText("last:", width - 100 - hStep + 6, 48);
            ctx.font = "32px sans-serif";
            ctx.fillText(mstr(temps[temps.length - 1]) + "C", width - 100 - hStep + 6, 80);
        }

        function drawGraphs() {
            var temps = [];
            for (var i = 0; i < temperatures.length; ++i) {
                temps.push(temperatures[i].a);
            }
            drawChannel("chartTemp1", temps);
            temps = [];

            var temps = [];
            for (var i = 0; i < temperatures.length; ++i) {
                temps.push(temperatures[i].b);
            }
            drawChannel("chartTemp2", temps);
            temps = [];

            var temps = [];
            for (var i = 0; i < temperatures.length; ++i) {
                temps.push(temperatures[i].c);
            }
            drawChannel("chartTemp3", temps);
            temps = [];

            var temps = [];
            for (var i = 0; i < temperatures.length; ++i) {
                temps.push(temperatures[i].d);
            }
            drawChannel("chartTemp4", temps);
            temps = [];

            var temps = [];
            for (var i = 0; i < temperatures.length; ++i) {
                temps.push(temperatures[i].e);
            }
            drawChannel("chartTemp5", temps);
        }

        function resizeCanvas() {
            htmlCanvas.width = window.innerWidth;
            htmlCanvas.height = window.innerHeight;
            drawGraphs();
        }

        function initialize() {
            window.addEventListener('resize', resizeCanvas, false);
            resizeCanvas();
        }

    </script>
</head>
<body onload="drawGraphs()">
<div>
    <a class="btn" href="triggers.html">Set Triggers</a>
    <a class="btn" href="wificonfig.html">Configure WiFi</a>
</div>
<div>
    <canvas width="1000" height="120" id="chartTemp1"></canvas>
</div>
<div>
    <canvas width="1000" height="120" id="chartTemp2"></canvas>
</div>
<div>
    <canvas width="1000" height="120" id="chartTemp3"></canvas>
</div>
<div>
    <canvas width="1000" height="120" id="chartTemp4"></canvas>
</div>
<div>
    <canvas width="1000" height="120" id="chartTemp5"></canvas>
</div>
</body>