<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperature Control</title>
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-family: sans-serif !important;
            background-color: white;
        }

        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
            text-align: center;
            padding-top: 64px;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
        }

        .btn {
            border: 1px solid blue;
            background-color: blue;
            color: white;
            text-decoration: none;
            padding-left: 24px;
            padding-top: 16px;
            font-size: 18px !important;
            padding-bottom: 16px;
            padding-right: 24px;
            font-family: sans-serif !important;
            display: inline-block;
        }

        .formElement {
            display: inline-block;
            width: 50%;
            height: 36px;
            border: 1px solid lightblue;
            font-size: 16px;
            background-color: #EEEEEE;
            margin: 6px;
            text-align: center;
        }

        .formLabel {
            display: block;
            padding: 6px;
            font-size: 16px !important;
        }

        .triggerEntry {
            border: 1px solid lightgray;
            margin: 6px;
            width: 100%;
            position: relative;
        }

        .triggerEntryHeader {
            font-size: 24px;
            font-weight: 800;
            margin: 6px;
        }

        .fixedBtn {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            height: 48px;
            z-index: 1000;
        }
    </style>
</head>
<body>
<form action="save_triggers" method="POST">
    <div class="fixedBtn">
        <button type="submit" style="padding-top: 15px !important; padding-bottom: 15px !important;" class="btn">Save
        </button>
        <a class="btn" href="index.html">View History</a>
        <a class="btn" href="wificonfig.html">Configure WiFi</a>
    </div>
    <div class="triggerEntry">
        <p class="triggerEntryHeader">Trigger 1</p>
        <div>
            <p class="formLabel">Temp channel:</p>
            <select class="formElement" name="t1ch">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Output channel:</p>
            <select class="formElement" name="t1out">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Limit for ON:</p>
            <select class="formElement" name="t1thontype">
                <option value="lt">&lt;</option>
                <option value="gt">&gt;</option>
            </select>
            <input class="formElement" name="t1thon" type="number"/>
        </div>
        <div>
            <p class="formLabel">Limit for OFF:</p>
            <select class="formElement" name="t1thofftype">
                <option value="gt">&gt;</option>
                <option value="lt">&lt;</option>
            </select>
            <input class="formElement" name="t1thoff" type="number"/>
        </div>
        <div>
            <p class="formLabel">Enabled:</p>
            <select name="t1en" class="formElement">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
    </div>
    <div class="triggerEntry">
        <p class="triggerEntryHeader">Trigger 2</p>
        <div>
            <p class="formLabel">Temp channel:</p>
            <select class="formElement" name="t2ch">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Output channel:</p>
            <select class="formElement" name="t2out">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Limit for ON:</p>
            <select class="formElement" name="t2thontype">
                <option value="lt">&lt;</option>
                <option value="gt">&gt;</option>
            </select>
            <input class="formElement" name="t2thon" type="number"/>
        </div>
        <div>
            <p class="formLabel">Limit for OFF:</p>
            <select class="formElement" name="t2thofftype">
                <option value="gt">&gt;</option>
                <option value="lt">&lt;</option>
            </select>
            <input class="formElement" name="t2thoff" type="number"/>
        </div>
        <div>
            <p class="formLabel">Enabled:</p>
            <select name="t2en" class="formElement">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
    </div>
    <div class="triggerEntry">
        <p class="triggerEntryHeader">Trigger 3</p>
        <div>
            <p class="formLabel">Temp channel:</p>
            <select class="formElement" name="t3ch">
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Output channel:</p>
            <select class="formElement" name="t3out">
                <option>1</option>
                <option>2</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Limit for ON:</p>
            <select class="formElement" name="t3thontype">
                <option value="lt">&lt;</option>
                <option value="gt">&gt;</option>
            </select>
            <input class="formElement" name="t3thon" type="number"/>
        </div>
        <div>
            <p class="formLabel">Limit for OFF:</p>
            <select class="formElement" name="t3thofftype">
                <option value="gt">&gt;</option>
                <option value="lt">&lt;</option>
            </select>
            <input class="formElement" name="t3thoff" type="number"/>
        </div>
        <div>
            <p class="formLabel">Enabled:</p>
            <select name="t3en" class="formElement">
                <option value="0">False</option>
                <option value="1">True</option>
            </select>
        </div>
    </div>
</form>
</body>
