<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Temperature Control</title>
    <style>
        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font-family: sans-serif !important;
            background-color: white;
        }

        article, aside, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section {
            display: block;
        }

        body {
            line-height: 1;
            text-align: center;
            padding-top: 64px;
        }

        ol, ul {
            list-style: none;
        }

        blockquote, q {
            quotes: none;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }

        table {
            border-collapse: collapse;
        }

        .btn {
            border: 1px solid blue;
            background-color: blue;
            color: white;
            text-decoration: none;
            padding-left: 24px;
            padding-top: 16px;
            font-size: 18px !important;
            padding-bottom: 16px;
            padding-right: 24px;
            font-family: sans-serif !important;
            display: inline-block;
        }

        .formElement {
            display: inline-block;
            width: 50%;
            height: 36px;
            border: 1px solid lightblue;
            font-size: 16px;
            background-color: #EEEEEE;
            margin: 6px;
            text-align: center;
        }

        .formLabel {
            display: block;
            padding: 6px;
            font-size: 16px !important;
        }

        .formBounds {
            border: 1px solid lightgray;
            margin: 6px;
            width: 100%;
            position: relative;
        }

        .triggerEntryHeader {
            font-size: 24px;
            font-weight: 800;
            margin: 6px;
        }

        .fixedBtn {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            height: 48px;
            z-index: 1000;
        }
    </style>
</head>
<body>
<form action="save_wifi_config" method="POST">
    <div class="fixedBtn">
        <button type="submit" style="padding-top: 15px !important; padding-bottom: 15px !important;" class="btn">Save
        </button>
        <a class="btn" href="index.html">View History</a>
        <a class="btn" href="triggers.html">Set Triggers</a>
    </div>
    <div class="formBounds">
        <p class="triggerEntryHeader">Connect to</p>
        <div>
            <p class="formLabel">SSID</p>
            <input class="formElement" name="ssid" />
        </div>
        <div>
            <p class="formLabel">Authentication</p>
            <select class="formElement" name="auth">
                <option>Open</option>
                <option>WEP</option>
                <option>WPA2 PSK</option>
                <option>WPA/WPA2 PSK</option>
                <option>WPA3 PSK</option>
                <option>WPA2/WPA3 PSK</option>
            </select>
        </div>
        <div>
            <p class="formLabel">Password</p>
            <input class="formElement" name="pass" type="password" placeholder="********************"/>
        </div>
    </div>
</form>
</body> 